<div class='container' ng-repeat='player in players'>
	<div class='row cardContainer'>
		<div class='span3 card'>
			<b>{{player.username}}</b> Level {{getLvl(player)}}
			<table class='table'>
				<td>HP:{{player.hp}}/{{player.maxHp}}</td>
				<td>Atk: {{player.atk}} </td>
				<td>Def: {{player.def}} </td>
				<td><button ng-click='attack(player)' class="btn glyphicon glyphicon-screenshot">Attack</button></td>

			</table>
			<div class="progress">
		  		<div class="progress-bar progress-bar-striped" role="progressbar" ng-class='getBarClass(player)' ng-style="{width: getHpBar(player)}">
		  		</div>
			</div>
		</div>
	</div>
</div>
<div>  </div>
