<nav class="navbar navbar-default navbar-fixed-top">
	<b>{{me.username}}</b> {{me.hp | number: 0}}/{{me.maxHp}}
	   Str: {{me.stats.str}} Int: {{me.stats.int}} Dex: {{me.stats.dex}}<br>
		 <button ng-click='upgradeStat("str")' class='btn glyphicon glyphicon-plus'>Str</button>
		 <button ng-click='upgradeStat("int")' class='btn glyphicon glyphicon-plus'>Int</button>
		 <button ng-click='upgradeStat("dex")' class='btn glyphicon glyphicon-plus'>Dex</button>
		 <button ng-click='useItem("redPotion")' class='btn glyphicon glyphicon-heart'>Potion</button>
		 <button ng-click='useItem("godPotion")' class='btn glyphicon glyphicon glyphicon-flash'>God Mode</button>
</nav>

<br><br><br>

<div class='container' ng-repeat='player in players | orderBy:username'>
	<div class='row cardContainer'>
		<div class='span3 card'>
			<b>{{player.username}}</b> Level {{getLvl(player)}}
			<table class='table'>
				<td>HP: {{player.hp | number: 0}}/{{player.maxHp | number: 0}}</td>
				<td>Str: {{player.stats.str}} </td>
				<td>Int: {{player.stats.int}} </td>
				<td>Gold: {{player.gold | number:0}} </td>
				<td><button ng-click='attack(player)' class="btn glyphicon glyphicon-screenshot">Attack</button></td>

			</table>
			<div class="progress">
		  		<div class="progress-bar progress-bar-striped" role="progressbar" ng-class='getBarClass(player)' ng-style="{width: getHpBar(player)}">
		  		</div>
			</div>
		</div>
	</div>
</div>
